{% load thumbnail %}

{% if ad.textad %}
        <p><a target="_blank" href="{% if request.user.is_superuser %}{% url admin:adzone_textad_change ad.id %}{% else %}{{ ad.get_absolute_url }}{% endif %}" class="adText">
	    {{ ad.textad.content }}
	</a></p>
{% endif %}

{% if ad.bannerad %}
    <a target="_blank" href="{% if request.user.is_superuser %}{% url admin:adzone_bannerad_change ad.id %}{% else %}{{ ad.get_absolute_url }}{% endif %}" class="adImage">
      {% thumbnail ad.bannerad.content "{{ ad.zone.width }}x{{ ad.zone.height }}" crop="center" as img %}
      <img src="{{ img.url }}" alt="{{ ad.title }}" />
      {% endthumbnail %}
    </a>
{% endif %}

{% if ad.codead %}
    <a target="_blank" href="{% if request.user.is_superuser %}{% url admin:adzone_codead_change ad.id %}{% else %}{{ ad.get_absolute_url }}{% endif %}" class="adCode">{{ ad.codead.content|safe }}</a>
{% endif %}
